.post {
  border-style: solid;
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  margin: 0 auto;
  width: 50%;
  text-align:center;
}

.comment {
  border-style: solid;
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  margin: 0 auto;
  width: 85%;
  text-align:center;
}

ul {
    padding: 0;
    list-style-type: none;
}